<h3 class="form-request">Zdefiniuj zajęcia wchodzące w skład przedmiotu ({{newSubject.name}})</h3>

<div class="spaced-l-l spaced-t column">
  <div class="checkbox-label">
    <div class="center-row">
      <mat-checkbox [(ngModel)]="newSubject.schedule.lectures.enabled" class="example-margin" color="primary"
        name="lectures">
        <span class="spaced-l-s">Wykłady</span>
      </mat-checkbox>
    </div>

    <div class="spaced-l-l column" *ngIf="newSubject.schedule.lectures.enabled">
      <mat-radio-group [(ngModel)]="newSubject.schedule.lectures['online']" class="column spaced-t spaced-l-l spaced-b"
        name="lecturesClass">
        <mat-radio-button color="primary" [value]="true">
          Online</mat-radio-button>
        <mat-radio-button color="primary" class="spaced-t spaced-b-s" [value]="false">W jednej z sal</mat-radio-button>
        <app-input *ngIf="!newSubject.schedule.lectures['online']" [ngModel]="classL" (ngModelChange)="changeL($event)"
          name="onlineLectures" required description="Numery sal" placeholder="135, 144, D1/15"
          class="normal-input spaced-l-l">
        </app-input>
      </mat-radio-group>
    </div>
  </div>

  <div class="checkbox-label">
    <div class="center-row">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="newSubject.schedule.exercise.enabled"
        name="exercise">
        <span class="spaced-l-s">Ćwiczenia</span>
      </mat-checkbox>
    </div>

    <div class="spaced-l-l column" *ngIf="newSubject.schedule.exercise.enabled">
      <mat-radio-group class="column spaced-t spaced-l-l spaced-b" [(ngModel)]="newSubject.schedule.exercise['online']"
        name="exercisesClass">
        <mat-radio-button color="primary" [value]="true">Online</mat-radio-button>
        <mat-radio-button color="primary" class="spaced-t spaced-b-s" [value]="false">W jednej z sal</mat-radio-button>
        <app-input *ngIf="!newSubject.schedule.exercise['online']" [ngModel]="classE" (ngModelChange)="changeE($event)"
          name="onlineExercises" required description="Numery sal" placeholder="135, 144, D1/15"
          class="normal-input spaced-l-l">
        </app-input>
      </mat-radio-group>
    </div>
  </div>

  <div class="checkbox-label">
    <div class="center-row">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="newSubject.schedule.laboratories.enabled"
        name="laboratories">
        <span class="spaced-l-s">Labolatoria</span>
      </mat-checkbox>
    </div>

    <div class="spaced-l-l column" *ngIf="newSubject.schedule.laboratories.enabled">
      <mat-radio-group class="column spaced-t spaced-l-l spaced-b"
        [(ngModel)]="newSubject.schedule.laboratories['online']" name="laboratoriesClass">
        <mat-radio-button color="primary" [value]="true">Online</mat-radio-button>
        <mat-radio-button color="primary" class="spaced-t spaced-b-s" [value]="false">W jednej z sal</mat-radio-button>
        <app-input *ngIf="!newSubject.schedule.laboratories['online']" [ngModel]="classLab"
          (ngModelChange)="changeLab($event)" name="onlineLaboratories" required description="Numery sal"
          placeholder="135, 144, D1/15" class="normal-input spaced-l-l">
        </app-input>
      </mat-radio-group>
    </div>
  </div>

  <div class="checkbox-label">
    <div class="center-row">
      <mat-checkbox class="example-margin" color="primary" [(ngModel)]="newSubject.schedule.seminars.enabled"
        name="seminars">
        <span class="spaced-l-s">Seminaria</span>
      </mat-checkbox>
    </div>

    <div class="spaced-l-l column" *ngIf="newSubject.schedule.seminars.enabled">
      <mat-radio-group class="column spaced-t spaced-l-l spaced-b" [(ngModel)]="newSubject.schedule.seminars['online']"
        name="seminarsClass">
        <mat-radio-button color="primary" [value]="true">Online</mat-radio-button>
        <mat-radio-button color="primary" class="spaced-t spaced-b-s" [value]="false">W jednej z sal</mat-radio-button>
        <app-input *ngIf="!newSubject.schedule.seminars['online']" [ngModel]="classS" (ngModelChange)="changeS($event)"
          name="onlineSeminars" required description="Numery sal" placeholder="135, 144, D1/15"
          class="normal-input spaced-l-l">
        </app-input>
      </mat-radio-group>
    </div>
  </div>

</div>
