<div class="checkbox-label">
  <div class="center-row">
    <mat-checkbox [(ngModel)]="type.enabled" [name]="name"
      color="primary" class="example-margin" >
      <span class="spaced-l-s">{{ typeName }}</span>
    </mat-checkbox>
  </div>

  <div class="spaced-l-l column" *ngIf="type.enabled">
    <mat-radio-group [(ngModel)]="type.online" name="typeClass"
      class="column spaced-t spaced-l-l spaced-b">
      <mat-radio-button color="primary" [value]="true">
        Online</mat-radio-button>
      <mat-radio-button color="primary" class="spaced-t spaced-b-s" 
        [value]="false">W jednej z sal</mat-radio-button>
      <app-input *ngIf="!type.online" [ngModel]="class" 
        (ngModelChange)="changeModel($event)" name="onlineType"
        description="Numery sal" placeholder="135, 144, D1/15" 
        class="normal-input spaced-l-l" required></app-input>
    </mat-radio-group>
  </div>
</div>
