<h3 class="form-request">Zdefiniuj prowadzących przedmiot ({{newSubject.name}})</h3>

<div class="spaced-l-l spaced-t center-row">
  <div>
    <select name="studyField" id="studyField" class="app-input long-input" [(ngModel)]="newSubjectTeacher.teacher">
      <option *ngFor="let teacher of teachers" [ngValue]="teacher">{{teacher.name}}</option>
    </select>
    <p class="app-input-hint">Imie i nazwisko nauczyciela akademickiego</p>
  </div>

  <div class="center-row spaced-l-s">
    <mat-checkbox class="spaced-l-l" color="primary" name="lectures" [(ngModel)]="newSubjectTeacher.lecturesEnable">
      W </mat-checkbox>
    <div *ngIf="newSubjectTeacher.lecturesEnable" class="spaced-l">
      <input type="number" class="app-input micro-input" placeholder="30" name="lecturesHours"
        [(ngModel)]="newSubjectTeacher.lecturesHours" required>
      <p class="app-input-hint">Ilość godzin</p>
    </div>
    <mat-checkbox class="spaced-l-l" color="primary" name="lectures" [(ngModel)]="newSubjectTeacher.exerciseEnable">
      Ć </mat-checkbox>
    <div *ngIf="newSubjectTeacher.exerciseEnable" class="spaced-l">
      <input type="number" class="app-input micro-input" placeholder="30" name="exerciseHours"
        [(ngModel)]="newSubjectTeacher.exerciseHours" required>
      <p class="app-input-hint">Ilość godzin</p>
    </div>
    <mat-checkbox class="spaced-l-l" color="primary" name="lectures" [(ngModel)]="newSubjectTeacher.laboratoriesEnable">
      L </mat-checkbox>
    <div *ngIf="newSubjectTeacher.laboratoriesEnable" class="spaced-l">
      <input type="number" class="app-input micro-input" placeholder="30" name="laboratoriesHours"
        [(ngModel)]="newSubjectTeacher.laboratoriesHours" required>
      <p class="app-input-hint">Ilość godzin</p>
    </div>
    <mat-checkbox class="spaced-l-l" color="primary" name="lectures" [(ngModel)]="newSubjectTeacher.seminarsEnable">
      S </mat-checkbox>
    <div *ngIf="newSubjectTeacher.seminarsEnable" class="spaced-l">
      <input type="number" class="app-input micro-input" placeholder="30" name="seminarsHours"
        [(ngModel)]="newSubjectTeacher.seminarsHours" required>
      <p class="app-input-hint">Ilość godzin</p>
    </div>
  </div>
  <span class="a-text-button spaced-l primary-color clickable weight-500" (click)="addTeacher()">Dodaj</span>
</div>


<div class="column spaced-l-l spaced-t-l">
  <div class="spaced-l-l center-row list-row w-60" *ngFor="let teacher of newSubject.teachers; let i=index">
    <span class="light-color w-10">{{ getTitleToDisplay(teacher.teacher) }}</span>
    <span>{{ teacher.teacher.name }}</span>
    <span class="light-color spaced-l-l">
      {{ teacher.lecturesEnable ? "[W - " + teacher.lecturesHours + "h]" : "" }}
      {{ teacher.exerciseEnable ? "[Ć - " + teacher.exerciseHours + "h]" : "" }}
      {{ teacher.laboratoriesEnable ? "[L - " + teacher.laboratoriesHours + "h]" : "" }}
      {{ teacher.seminarsEnable ? "[S - " + teacher.seminarsHours + "h]" : "" }}
    </span>
    <span class="space"></span>
    <span class="red-color clickable weight-500" (click)="deleteTeacher(i)">Usuń</span>
  </div>
</div>
