<h3 class="form-request">Zdefiniuj prowadzących przedmiot ({{newSubject.name}})</h3>

<div class="spaced-l-l spaced-t center-row">
  <app-dropdown [(ngModel)]="newSubjectTeacher.teacher" name="studyField" 
    class="long-input" [data]="teachers" value=""display="name" 
    description="Imie i nazwisko nauczyciela akademickiego"></app-dropdown>

  <div class="center-row spaced-l-s">
    <mat-checkbox class="spaced-l-l" color="primary" name="lectures" 
      [(ngModel)]="newSubjectTeacher.lecturesEnable" 
      [disabled]="!newSubject.schedule.lectures.enabled">W</mat-checkbox>
    <app-input *ngIf="newSubjectTeacher.lecturesEnable" type="number"
      [(ngModel)]="newSubjectTeacher.lecturesHours" name="lecturesHours"  
      placeholder="1" class="micro-input spaced-l" description="Ilość grup" 
      [min]="1" required></app-input>

    <mat-checkbox class="spaced-l-l" color="primary" name="exercises" 
      [(ngModel)]="newSubjectTeacher.exerciseEnable"
      [disabled]="!newSubject.schedule.exercise.enabled">Ć</mat-checkbox>
    <app-input *ngIf="newSubjectTeacher.exerciseEnable" type="number"
      [(ngModel)]="newSubjectTeacher.exerciseHours" name="exerciseHours"  
      placeholder="4" class="micro-input spaced-l" description="Ilość grup" 
      [min]="1" required></app-input>
      
    <mat-checkbox class="spaced-l-l" color="primary" name="laboratories" 
      [(ngModel)]="newSubjectTeacher.laboratoriesEnable"
      [disabled]="!newSubject.schedule.laboratories.enabled">L</mat-checkbox>
    <app-input *ngIf="newSubjectTeacher.laboratoriesEnable" type="number"
      [(ngModel)]="newSubjectTeacher.laboratoriesHours" name="laboratoriesHours"  
      placeholder="8" class="micro-input spaced-l" description="Ilość grup" 
      [min]="1" required></app-input>

    <mat-checkbox class="spaced-l-l" color="primary" name="seminars" 
      [(ngModel)]="newSubjectTeacher.seminarsEnable"
      [disabled]="!newSubject.schedule.seminars.enabled">S</mat-checkbox>
    <app-input *ngIf="newSubjectTeacher.seminarsEnable" type="number"
      [(ngModel)]="newSubjectTeacher.seminarsHours" name="seminarsHours"  
      placeholder="4" class="micro-input spaced-l" description="Ilość grup" 
      [min]="1" required></app-input>
  </div>
  <span class="a-text-button spaced-l primary-color clickable weight-500" (click)="addTeacher()">Dodaj</span>
</div>


<div class="column spaced-l-l spaced-t-l">
  <div class="spaced-l-l center-row list-row w-60" *ngFor="let teacher of newSubject.teachers; let i=index">
    <span class="light-color w-10">{{ getTitleToDisplay(teacher.teacher) }}</span>
    <span>{{ teacher.teacher.name }}</span>
    <span class="light-color spaced-l-l">
      {{ teacher.lecturesEnable ? "[W - " + teacher.lecturesHours + " grp]" : "" }}
      {{ teacher.exerciseEnable ? "[Ć - " + teacher.exerciseHours + " grp]" : "" }}
      {{ teacher.laboratoriesEnable ? "[L - " + teacher.laboratoriesHours + " grp]" : "" }}
      {{ teacher.seminarsEnable ? "[S - " + teacher.seminarsHours + " grp]" : "" }}
    </span>
    <span class="space"></span>
    <span class="red-color clickable weight-500" (click)="deleteTeacher(i)">Usuń</span>
  </div>
</div>

<div class="column spaced-t-l spaced-l-l">
  <div class="center-row" *ngIf="newSubject.schedule.lectures.enabled">
    <p class="h-100">Grupy Wykładowe:</p>
    <app-input [(ngModel)]="sumOfGroup.lectures" name="lecturesGroups"
      type="number" description="Ilość grup" [disabled]="sumOfGroup.lectures === 0"
      class="tiny-input spaced-l" [min]="1"></app-input>
  </div>
  <div class="center-row" *ngIf="newSubject.schedule.exercise.enabled">
    <p class="h-100">Grupy Ćwiczeniowe:</p>
    <app-input [(ngModel)]="sumOfGroup.exercise" name="exerciseGroups"
      type="number" description="Ilość grup" [disabled]="sumOfGroup.exercise === 0"
      class="tiny-input spaced-l" [min]="1"></app-input>
  </div> 
  <div class="center-row" *ngIf="newSubject.schedule.laboratories.enabled">
    <p class="h-100">Grupy Laboratoryjne:</p>
    <app-input [(ngModel)]="sumOfGroup.laboratories" name="laboratoriesGroups"
      type="number"  description="Ilość grup" [disabled]="sumOfGroup.laboratories === 0"
      class="tiny-input spaced-l" [min]="1"></app-input>
  </div>
  <div class="center-row" *ngIf="newSubject.schedule.seminars.enabled">
    <p class="h-100">Grupy Seminaryjne:</p>
    <app-input [(ngModel)]="sumOfGroup.seminars" name="seminarsGroups"
      type="number"  description="Ilość grup" [disabled]="sumOfGroup.seminars === 0"
      class="tiny-input spaced-l" [min]="1"></app-input>
  </div>
</div>