@import "../../../../styles/variables.scss";
.neat-box {
  display: flex;
  justify-content: center;
  padding: 2px;
  border-radius: 2px;
}
.rectangle {
  @extend .neat-box;
  transform: rotate(-90deg);
  margin: -5px;
}

.time {
  min-width: 36px;
  background-color: $primary_color;
  color: $simple_white;
}

.empty-time {
  min-width: 36px;
}

.week-day {
  @extend .neat-box;
  align-items: center;
  min-width: 24px;
  height: 116px;
  background-color: $primary_color;
  color: $simple_white;
  margin-left: -5px;
  margin-right: 10px;
}
