<div class="content">
  <div *ngIf="schedule">
    <h3 class="form-request center-row" *ngIf="studyField">
      <p class="weight-500 spaced-r-s">{{ schedule.name }}</p>
      <p>({{studyField.name }} - semestry {{ schedule.ifWinter ? "zimowe":"letnie" }})</p>
      <button mat-raised-button color="primary" class="spaced-l-l" *ngFor="let button of buttons; let i = index"
        [class.unselected]="button != selected" (click)="selected = button">
        Semestr {{ (button + 1) * (schedule.ifWinter ? 1 : 2) + (schedule.ifWinter ? i : 0)}}</button>
    </h3>

    <div class="spaced-t-l spaced-l-l" perfectScrollbar>
      <div class="row">
        <div class="rectangle empty-time"></div>
        <div class="rectangle time" *ngFor="let timeItem of clockTime">
          {{ timeItem }}
        </div>
      </div>
      <div class="spaced-t-l">
        <div class="row spaced-b-s" *ngFor="let days of schedule.semesters[selected].daysOfWeek; let i=index">
          <div class="week-day">
            {{ weekDaysShort[i] }}
          </div>
          <app-lesson [days]="days" [(selectedItem)]="selectedItem" (editedForm)="editedForm = $event"></app-lesson>
        </div>
      </div>
    </div>
  </div>
  <button mat-button class="spaced-t-s" color="primary">Wróć</button>
  <button mat-raised-button class="spaced-t-s" color="primary" *ngIf="editedForm" (click)="saveChanges()">Zapisz
    zmiany</button>
</div>
