<div class="row">
  <div class="row" *ngFor="let class of subjects; let i=index">

    <div *ngFor="let space of indexNumbers[i]" class="break">

    </div>

    <div class="column" [class.lesson-3]="class.lastIndex-class.firstIndex === 2"
      [class.lesson-6]="class.lastIndex-class.firstIndex === 5"
      [class.lesson-9]="class.lastIndex-class.firstIndex === 8">

      <div class="lesson column" *ngFor="let item of class.class; let k=index">
        <p class="weight-500">{{ item.subjectName }}</p>
        <p class="description">
          {{ item.classRoomName !== "online" ? "s." + item.classRoomName + " - ": "online - "}}
          <span [ngSwitch]="item.subjectType">
            <span *ngSwitchCase="'Lectures'">Wykład</span>
            <span *ngSwitchCase="'Exercise'">Ćwiczenia</span>
            <span *ngSwitchCase="'Laboratories'">Laboratoria</span>
            <span *ngSwitchCase="'Seminars'">Seminaria</span>
          </span>
        </p>
        <p class="description"><span>{{ (item.teacherTitle | title) + " "}}</span>{{item.teacherName}}</p>
      </div>
    </div>
  </div>
</div>
