@import "../../../styles/variables.scss";
.lesson {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 2px;
  background-color: $primary_color_2;
  color: $simple_black;
  margin-right: 6px;
  & + & {
    margin-top: 4px;
  }
}

.lesson-edit {
  @extend .lesson;
  background: none;
}
.lesson-3 {
  min-width: 24px * 3 + 6px * (3 - 1)+ 6px;
  height: 120px;
}
.lesson-6 {
  min-width: 24px * 6 + 6px * (6 - 1) + 6px;
  height: 120px;
}
.lesson-9 {
  min-width: 24px * 9 + 6px * (9 - 1) + 6px;
  height: 120px;
}
.break {
  min-width: 24px;
  margin-right: 6px;
  height: 120px;
  background-color: $simple_gray_3;
}

.description {
  font-size: 80%;
  color: $simple_gray;
  line-height: 16px;
}

.edit-field {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 6px);
  border-radius: 2px;
  height: 100%;
}

.spaced-t-4 {
  margin-top: 4px;
}
.spaced-l-4 {
  margin-left: 4px;
}
.change {
  color: $simple_white;
  background-color: $primary_color;
}
.delete {
  color: $simple_white;
  background-color: $simple_red;
}
