<div class="row">
  <div class="row" *ngFor="let class of subjects; let i=index">

    <div *ngFor="let space of indexNumbers[i]" class="break">

    </div>

    <div class="column" [class.lesson-3]="class.lastIndex-class.firstIndex === 2"
      [class.lesson-6]="class.lastIndex-class.firstIndex === 5"
      [class.lesson-9]="class.lastIndex-class.firstIndex === 8">

      <ng-container class="column" *ngFor="let item of class.class; let k=index">
        <div class="lesson column clickable" (click)="editElement(i,k)" *ngIf="selectedItem !== item">
          <p class="weight-500">{{ item.subjectName }}</p>
          <p class="description">
            {{ item.classRoomName !== "online" ? "s." + item.classRoomName + " - ": "online - "}}
            <span [ngSwitch]="item.subjectType">
              <span *ngSwitchCase="'Lectures'">Wykład</span>
              <span *ngSwitchCase="'Exercise'">Ćwiczenia</span>
              <span *ngSwitchCase="'Laboratories'">Laboratoria</span>
              <span *ngSwitchCase="'Seminars'">Seminaria</span>
              <span>{{" (grp. "+ item.group +")"}}</span>
            </span>
          </p>
          <p class="description"><span>{{ (item.teacherTitle | title) + " "}}</span>{{item.teacherName}}</p>
          <p class="description" *ngIf="item.description.length">{{item.description}}</p>
        </div>

        <ng-container *ngIf="selectedItem == item">
          <div class="lesson-edit row" *ngIf="!editMode">
            <div class="edit-field change clickable" (click)="editMode = true">Edytuj</div>
            <div class="edit-field delete clickable spaced-l-4" (click)="deleteElement()">Usuń</div>
          </div>
          <ng-container *ngIf="editMode">
            <div class="lesson-edit column" *ngIf="editThing === 0">
              <div class="edit-field row">
                <div class="edit-field change clickable" (click)="editThing = 1">Nazwa</div>
                <div class="edit-field change clickable spaced-l-4" (click)="editThing = 2">Sala</div>
                <div class="edit-field change clickable spaced-l-4" (click)="editThing = 5">Opis</div>
              </div>
              <div class="edit-field row spaced-t-4">
                <div class="edit-field change clickable" (click)="editThing = 3">Grupa</div>
                <div class="edit-field change clickable spaced-l-4" (click)="editThing = 4">Lektor</div>
              </div>
            </div>
            <form #f="ngForm" class="lesson-edit row" *ngIf="editThing !== 0" (ngSubmit)="saveChanges()">
              <app-input class="tiny-input" description="Zatwierdź enterem" [(ngModel)]="selectedItem.subjectName"
                (ngModelChange)="editItem.subjectName = selectedItem.subjectName" name="changeSubjectName"
                *ngIf="editThing === 1" placeholder="Język angielski"></app-input>
              <app-input class="tiny-input" description="Zatwierdź enterem" [(ngModel)]="selectedItem.classRoomName"
                name="changeClassRoom" *ngIf="editThing === 2" placeholder="135"
                (ngModelChange)="editItem.classRoomName = selectedItem.classRoomName"></app-input>
              <app-input class="tiny-input" description="Zatwierdź enterem" [(ngModel)]="selectedItem.group"
                name="changeGroup" *ngIf="editThing === 3" placeholder="3"
                (ngModelChange)="editItem.group = selectedItem.group"></app-input>
              <app-dropdown [(ngModel)]="selectedItem.teacherTitle" name="studyField" description="Tytuł"
                [data]="titles" *ngIf="editThing === 4" class="super-micro-input"
                (ngModelChange)="editItem.teacherTitle = selectedItem.teacherTitle">
              </app-dropdown>
              <app-input class="tiny-input" description="Zatwierdź enterem" [(ngModel)]="selectedItem.teacherName"
                name="changeGroup" *ngIf="editThing === 4" placeholder="Jan Kowalski"
                (ngModelChange)="editItem.teacherName = selectedItem.teacherName"></app-input>
              <app-input class="tiny-input" description="Zatwierdź enterem" [(ngModel)]="selectedItem.description"
                name="changeDescription" *ngIf="editThing === 5" placeholder="Opis"
                (ngModelChange)="editItem.description = selectedItem.description"></app-input>
            </form>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
