<div class="h-100 content">

  <div class="center-row">
    <h1 class="page-title">Sale</h1>
    <span class="material-icons clickable spaced-l-l" (click)="refreshList()">refresh</span>
  </div>

  <div class="sub-content">
    <div class="spaced-t" *ngIf="listItems$ | async as listItems">
      <div *ngFor="let item of listItems" class="center-row list-row w-80">
        <span class="spaced-l-s weight-500">{{ item.name }}</span>
        <div class="space"></div>
        <span (click)="deleteClassRooms(item.id)" class="material-icons clickable red-color">delete_forever</span>
        <span class="spaced-l-s primary-color clickable weight-500">Edytuj</span>
      </div>
    </div>

    <a mat-button color="primary" class="a-text-button spaced-t-s weight-300" routerLink="/create-class-room">Dodaj
      salę</a>
  </div>
</div>
