.semesters {
    padding-left: 1.1em;
    padding-top: 0.5em;
    font-size: 1.1em;
}

.groups {
    padding-left: 3em;
}

.studyfield {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.3em;
}