<h3 class="form-request spaced-b">Określ ilość grup ({{newPart.name}})</h3>


<div class="spaced-t" *ngIf="listItems$ | async as listItems">
  <div *ngFor="let item of listItems; index as i">
      <div class="studyfield center-row list-row w-80">
        <div class="spaced-l-s weight-500"><span class="weight-400">Kierunek: </span>{{ item.name }}</div>
      </div>
          <div *ngFor="let item2 of newPart.groups[i]; index as j">
            <div class="semesters spaced-l-s weight-400">Semestr {{j+1}}
              <span class="groups">gr. wykładowe: 
                <app-input [(ngModel)]="newPart.groups[i][j][0]" class="tiny-input spaced-l-l" [name]="i+'g0'+j" 
                placeholder="1" required></app-input>
              </span>
              <span class="groups">gr. laboratoryjne: 
                <app-input [(ngModel)]="newPart.groups[i][j][1]" class="tiny-input spaced-l-l" [name]="i+'g1'+j" 
                placeholder="1" required></app-input>
              </span>
            </div>
          </div>
        <div class="space"></div>
  </div>
</div>
