<div class="h-100 content">
  <div class="center-row">
    <h1 class="page-title">Przedmioty</h1>
    <button mat-button class="clickable" (click)="refreshList()">
      <i class="material-icons">refresh</i>
    </button>
  </div>

  <div class="sub-content">
    <div class="center-row">
      <app-type-buttons [buttons]="buttons" [(selected)]="selected"></app-type-buttons>

    </div>

    <div class="spaced-t" *ngIf="listItems$ | async as listItems">
      <div *ngFor="let item of listItems">
        <div *ngIf="selected === item.students.studyFieldID" class="center-row list-row w-80">
          <span class="spaced-l weight-500">{{ item.name }}</span>
          <span class="spaced-l-s weight-500 light-color">
            ({{ item.eligibility ? "obieralny" : "obowiązkowy"}},
            {{ item.students.semester }} semestr)</span>
          <div class="space"></div>
          <span (click)="deleteSubject(item.id)" class="material-icons clickable red-color">delete_forever</span>
          <a class="spaced-l-s primary-color clickable weight-500" [routerLink]="'/edit-subject/' + item.id">Edytuj</a>
        </div>
      </div>
    </div>
    <a mat-button color="primary" class="a-text-button spaced-t-s weight-300" routerLink="/create-subject">Dodaj
      przedmiot</a>
  </div>
</div>
