@import "./variables.scss";
@import "./layout.scss";

// TEXT
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0 !important;
  margin: 0 !important;
}
h1.page-title {
  font-size: 3rem;
  min-height: 3rem;
  letter-spacing: 3px;
}
h3.form-request {
  font-size: 1.5rem;
  min-height: 1.5rem;
  font-weight: 300;
}
h5.step {
  font-size: 1rem;
  min-height: 1rem;
  align-items: flex-end;
  display: flex;
}
.text-shadow {
  text-shadow: 0 0 10px $simple_black;
}
.white-color {
  color: $simple_white !important;
}
.red-color {
  color: $simple_red !important;
}
.light-color {
  color: $simple_gray_2 !important;
}
.primary-color {
  color: $primary_color !important;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.center-text {
  text-align: center;
}

// INPUTS
.a-text-button {
  font-size: 1.1rem;
  min-height: 1.1rem;
}

.a-raised-button {
  font-size: 1.2rem;
  min-height: 1.2rem;
  width: 7rem;
}

.long-input {
  width: 360px;
}
.normal-input {
  width: 240px;
}
.tiny-input {
  width: 120px;
}
.micro-input {
  width: 80px;
}
.super-micro-input {
  width: 40px;
}
input::placeholder {
  color: $simple_gray_2;
}
mat-checkbox,
mat-radio-button {
  font-size: 1rem;
}

.unselected {
  background-color: $simple_gray_2 !important;
  font-weight: 400 !important;
  box-shadow: none !important;
}
