<div class="column">
  <h3 class="form-request">Zdefiniuj kto ma się go uczyć przedmiotu ({{newSubject.name}})</h3>

  <div class="row spaced-l-l spaced-t">
    <app-dropdown [(ngModel)]="newSubject.students.studyFieldID" name="studyField"
    [data]="studyFields" additionalDescription="stopień" additionalDisplay="degree"
    description="Nazwa kierunku" required></app-dropdown>
    <app-dropdown [(ngModel)]="newSubject.students.semester" name="semester"
    [data]="getSemesters" value="" display="" description="Semester"
      class="spaced-l-l tiny-input" required></app-dropdown>
  </div>

  <h3 class="form-request spaced-t-l">Zdefiniuj profil przedmiotu</h3>
  <mat-radio-group class="column spaced-t spaced-l-l" [(ngModel)]="newSubject.eligibility" name="eligibility">
    <mat-radio-button color="primary" [value]="false">Obowiązkowy</mat-radio-button>
    <mat-radio-button color="primary" class="spaced-t" [value]="true">Obieralny</mat-radio-button>
  </mat-radio-group>
</div>
