.kolumnyL {
    width: 5em;
    text-align: center;
}

.kolumny {
    width: 5em;
    text-align: center;
}

.kolumnyAll {
    width: 6em;
    text-align: center;
}

.kolumnyPrzydziel {
    width: 10em;
    text-align: center;
}

.kolumnyInfo {
    width: 1.45em;
    text-align: center;
    align-items: center;
}