<div class="h-100" *ngIf="logged">
  <app-side-panel></app-side-panel>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="h-100 log" *ngIf="!logged">
  <form #f="ngForm" class="log-in column" (ngSubmit)="login()">
    <h1>Zaloguj się</h1>
    <p *ngIf="error">Błąd logowania</p>
    <app-input [(ngModel)]="user.username" name="username" placeholder="Login" description="Login"
      class="normal-input spaced-t" required></app-input>
    <app-input [(ngModel)]="user.password" name="password" placeholder="Password" description="Hasło"
      class="normal-input spaced-t" type="password" required></app-input>
    <button mat-raised-button color="primary" class="spaced-t-l" type="submit" [disabled]="f.invalid">Zaloguj</button>
  </form>
</div>
