<h3 class="form-request spaced-b">Podaj tytuł, imię i nazwisko nauczyciela akademickiego</h3>

<div class="spaced-l-l row">
  <app-dropdown [(ngModel)]="newTeacher.titleID" name="studyField" description="Tytuł naukowy" [data]="titles">
  </app-dropdown>
  <app-input [(ngModel)]="newTeacher.name" class="long-input spaced-l-l" name="name"
    description="Imię i nazwisko prowadzącego" placeholder="Jan Kowalski" required></app-input>
</div>

<h3 class="form-request spaced-t spaced-b">Podaj email nauczyciela</h3>
<app-input [(ngModel)]="newTeacher.email" class="long-input spaced-l-l" name="email" description="Adres e-mail"
  placeholder="jan.kowalski@pk.edu.pl" required></app-input>