<div class="h-100 content">
  <div class="center-row">
    <h1 class="page-title">Kierunki studiów</h1>
    <button mat-button class="clickable" (click)="refreshList()">
      <i class="material-icons">refresh</i>
    </button>
  </div>

  <div class="sub-content">
    <div class="spaced-t" *ngIf="listItems$ | async as listItems">
      <div *ngFor="let item of listItems">
        <div class="center-row list-row w-80">
          <span class="spaced-l-s weight-500">{{ item.name }} </span>
          <span class="light-color spaced-l">({{ item.degree }} stopień, {{item.numberOfSemesters}} semestrów,
            <span *ngIf="item.fullTime === 1">stacjonarne</span>
            <span *ngIf="item.fullTime === 2">niestacjonarne</span> 
            <span *ngIf="item.erasmus === 1">, erasmus</span>)
          </span>
          <div class="space"></div>
          <span class="material-icons red-color clickable" (click)="deleteStudyField(item.id)">delete_forever</span>
          <a class="spaced-l-s primary-color clickable weight-500" [routerLink]="'/edit-field/' + item.id">Edytuj</a>
        </div>
      </div>
    </div>
    <a mat-button color="primary" class="a-text-button spaced-t-s weight-300" routerLink="/create-field">
      Dodaj kierunek</a>
  </div>
</div>
