@import "../../../styles/variables.scss";
@import "../../../styles/controls.scss";

.titles {
  justify-content: center;
}

.side-panel {
  background-color: $primary_color;
}

a {
  color: $simple_white;
  font-size: 1.1rem;
  min-height: 1.1rem;
  letter-spacing: 1px;
  transition-duration: 0.25s;
  margin: 0 16px;
  &:hover {
    @extend .text-shadow;
  }
}
