<div class="side-panel box-shadow white-color column">
  <div class="center-row spaced-t titles">
    <h1 class="text-shadow center-text">Generator planów zajęć</h1>
    <h3 class="spaced-h-s">-</h3>
    <h3 class="text-shadow center-text">WIiT</h3>
  </div>

  <div class="w-100 center-text spaced-t-s spaced-b-s">
    <a routerLink="fields">Kierunki studiów</a>
    <a routerLink="teachers">Nauczyciele akademiccy</a>
    <a routerLink="class-rooms">Sale</a>
    <a routerLink="subjects">Przedmioty</a>
    <a routerLink="schedules">Rozkład zajęć</a>
  </div>
</div>
