/* You can add global styles to this file, and also import other style files */

@import "./styles/controls.scss";
@import "./styles/variables.scss";
@import "./styles/layout.scss";

// TODO: Delete in official app
p.todo {
  color: red;
  font-size: 3rem;
  min-height: 6rem;
  font-weight: 700;
  letter-spacing: 3px;
}
